html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    padding: 24px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
    background-color: burlywood;
}

body {
    margin: 0;
}

.book-cover {
    height: auto; width: 200px;
    display: grid;
    grid-row-start: 0;
    grid-row-end: span 5;
    column-gap: 24px;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
    column-gap: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
  }

main {
    max-width: 800px; margin: auto;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

button {
    padding: 12px;
    font-size: 110%;
  }
  
  input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
  }
  
  textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
  }

header{
    padding: 24px ;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}


